# -----------------------------
# Node / React (Frontend)
# -----------------------------
axiomai-ui/node_modules/
axiomai-ui/dist/
axiomai-ui/.vite/
axiomai-ui/.env
axiomai-ui/.env.*
axiomai-ui/build/
axiomai-ui/coverage/

# -----------------------------
# Python / FastAPI (Backend)
# -----------------------------
backend/wsl_env/
backend/venv/
backend/.venv/
backend/env/
backend/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
backend/.env

# Custom Storage & Uploads
backend/uploads/*
!backend/uploads/.gitkeep
qdrant_storage/

# -----------------------------
# OS / IDE
# -----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore main myenv
myenv/
*.log
vite.config.js.timestamp-*

